<form id="login-form" (ngSubmit)="login.emit(credentials)" ngNativeValidate>
  <mat-form-field class="full-width">
    <input
      [(ngModel)]="credentials.email"
      placeholder="Email"
      name="email"
      autofocus
      matInput
      required
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <input
      [type]="hide ? 'text' : 'password'"
      [(ngModel)]="credentials.password"
      placeholder="Password"
      name="password"
      matInput
      required
    />
    <mat-icon matSuffix (click)="hide = !hide">{{
      hide ? 'visibility_off' : 'visibility'
    }}</mat-icon>
  </mat-form-field>

  <button
    [disabled]="disabled"
    mat-raised-button
    color="primary"
    type="submit"
    class="big"
  >
    Login
    <mat-progress-bar *ngIf="disabled" mode="indeterminate"></mat-progress-bar>
  </button>
</form>
