.card {
    padding: 30px 20%;
    background-color: rgb(190, 190, 190);
    border-radius: 0;
    color: white;
    margin-bottom: 1em;
}

@media screen and (max-width: 768px){
    .card{
        padding: 30px 10%;
    }
}