<div class="container" appAddTheme>
    <div class="centered conent">
        <div class="row">
            <div class="col-6-6" align="center">
                <mat-card class="logo-card">
                    <app-logo [color]="'light'"></app-logo>
                </mat-card>
            </div>
        </div>
        <div class="row text">
            <mat-card class="col-3-6">
                Hajduk Awesome
            </mat-card>
            <mat-card class="col-3-6">
                Angular Template
            </mat-card>
        </div>
    </div>
</div>