.form {
    margin-left: calc(35% - 30px);
    top: 25%;
    width: 30%;
    padding: 30px;
}

@media screen and (max-width: 768px){
    .form{
        margin-left: calc(20% - 30px);
        top: 20%;
        width: 60%;
        padding: 30px;
    }
}