.form {
    width: 30%;
    padding: 0;
    border-radius: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    padding: 30px;
}

.header {
    background-color: gray;
    color: white;
    padding: 0;
    border-radius: 0;
    height: 4em;
    padding-left: 20px;
}

@media screen and (max-width: 770px) {
    .form {
        width: 60%;
    }
}