@import '~@angular/material/theming';
@import './app/themes/themes';
@include mat-core();

* {
  font-family: Helvetica, Arial, Sans-Serif;
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100vh;
}

.container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
